* {margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height:100%;
    width: 100%;
    background-color: darkorange;
}
img{margin-left: 40%;
width: 20%;
height: 20;
      background-color: darkorange 
   }
h1{text-align: center;
font-size: 450%;
color:white;
      background-color: darkorange
}
p{font-size: 30px;
text-align: center;}
h2{text-align: center;
font-size: 50px;
   background-color: darkorange
  }
#handler{text-align: left; 
font-size: 20px;
background-color: darkorange}
nav a{
font-size: 150%;
color: white;


}
nav{
    text-align: center;
    background-color: darkorange;
}
#name{ height:100%;
    width: 100%;
    background-color: darkorange;}
 #hamper{font-size: 17px;
         background-color: darkorange}
 #hevean{height: 66%;
  width: 36%;
  background-color: darkorange}
h4{ padding: 20px;
    background-color: darkorange;
}
h2{
    background-color: darkorange;
}
